In [3]:
import pandas as pd

Read in summaray data from IHME COVID-19 US state-by-state projection. Can acquire this dataset through AWS Data Exchange.

In [3]:
summary_df = pd.read_csv("./data/summary_us.csv")

In [4]:
summary_df.shape

(52, 31)

In [5]:
# display all columns
pd.set_option('display.max_columns', None)
summary_df.head()

,location_id,location_name,peak_bed_day_mean,peak_bed_day_lower,peak_bed_day_upper,peak_icu_bed_day_mean,peak_icu_bed_day_lower,peak_icu_bed_day_upper,peak_vent_day_mean,peak_vent_day_lower,peak_vent_day_upper,all_bed_capacity,icu_bed_capacity,all_bed_usage,icu_bed_usage,available_all_nbr,available_icu_nbr,travel_limit_start_date,travel_limit_end_date,stay_home_start_date,stay_home_end_date,educational_fac_start_date,educational_fac_end_date,any_gathering_restrict_start_date,any_gathering_restrict_end_date,any_business_start_date,any_business_end_date,all_non-ess_business_start_date,all_non-ess_business_end_date,parent_id,parent_name
0,533,Georgia,2020-12-22,2020-04-18,2020-12-25,2020-12-22,2020-04-20,2020-12-26,2020-12-22,2020-04-19,2020-12-25,28928.0,2182.0,20605.0,1592.0,8323.0,590.0,NaN,NaN,2020-04-03,NaN,2020-03-18,NaN,2020-03-24,NaN,2020-03-24,NaN,NaN,NaN,102,United States of America
1,523,Alabama,2020-12-27,2020-05-03,2020-12-27,2020-12-27,2020-05-04,2020-12-27,2020-12-27,2020-05-04,2020-12-27,17537.0,1525.0,11793.0,1050.0,5744.0,475.0,NaN,NaN,2020-04-04,2020-04-30,2020-03-19,NaN,2020-03-19,NaN,2020-03-19,2020-06-15,2020-03-28,2020-04-30,102,United States of America
2,524,Alaska,2020-12-07,2020-03-29,2020-12-25,2020-12-08,2020-03-31,2020-12-24,2020-12-08,2020-03-31,2020-12-24,2034.0,169.0,1351.0,115.0,683.0,54.0,2020-03-28,NaN,2020-03-28,2020-04-24,2020-03-16,NaN,2020-03-24,2020-05-22,2020-03-17,2020-05-22,2020-03-28,2020-04-24,102,United States of America
3,525,Arizona,2020-11-06,2020-06-29,2020-11-09,2020-11-06,2020-06-30,2020-11-09,2020-11-06,2020-06-30,2020-11-09,16342.0,1440.0,10324.0,932.0,6018.0,508.0,NaN,NaN,2020-03-30,2020-05-16,2020-03-16,NaN,2020-03-30,2020-05-16,2020-03-30,2020-05-16,NaN,NaN,102,United States of America
4,526,Arkansas,2020-07-20,2020-06-15,2020-09-06,2020-07-23,2020-06-15,2020-09-08,2020-07-23,2020-06-15,2020-09-05,11243.0,914.0,6237.0,519.0,5006.0,395.0,NaN,NaN,NaN,NaN,2020-03-17,NaN,2020-03-27,2020-06-01,2020-03-19,NaN,NaN,NaN,102,United States of America

In [4]:
ref_df = pd.read_csv("./data/ref_us.csv")
ref_df.head()

,location_id,location_name,date,allbed_mean,allbed_lower,allbed_upper,ICUbed_mean,ICUbed_lower,ICUbed_upper,InvVen_mean,...,mobility_data_type,mobility_composite,total_tests_data_type,total_tests,confirmed_infections,est_infections_mean,est_infections_lower,est_infections_upper,parent_id,parent_name
0,533,Georgia,2020-02-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,102,United States of America
1,533,Georgia,2020-02-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,102,United States of America
2,533,Georgia,2020-02-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,102,United States of America
3,533,Georgia,2020-02-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,102,United States of America
4,533,Georgia,2020-02-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,observed,-2.330533,NaN,NaN,NaN,0.0,0.0,0.0,102,United States of America

In [5]:
ref_df.shape

(12532, 46)

In [6]:
best_df = pd.read_csv("./data/best_us.csv")
best_df.shape

(12532, 25)

In [7]:

best_df.head()

,location_id,location_name,date,deaths_mean,deaths_lower,deaths_upper,totdea_mean,totdea_lower,totdea_upper,deaths_mean_smoothed,...,mobility_data_type,mobility_composite,total_tests_data_type,total_tests,confirmed_infections,est_infections_mean,est_infections_lower,est_infections_upper,parent_id,parent_name
0,533,Georgia,2020-02-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,United States of America
1,533,Georgia,2020-02-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,United States of America
2,533,Georgia,2020-02-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,United States of America
3,533,Georgia,2020-02-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,United States of America
4,533,Georgia,2020-02-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,observed,-2.330533,NaN,NaN,NaN,NaN,NaN,NaN,102,United States of America

In [8]:
worse_df = pd.read_csv("./data/worse_us.csv")
worse_df.shape

(12532, 25)

In [10]:
worse_df.head()

,location_id,location_name,date,deaths_mean,deaths_lower,deaths_upper,totdea_mean,totdea_lower,totdea_upper,deaths_mean_smoothed,...,mobility_data_type,mobility_composite,total_tests_data_type,total_tests,confirmed_infections,est_infections_mean,est_infections_lower,est_infections_upper,parent_id,parent_name
0,533,Georgia,2020-02-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,United States of America
1,533,Georgia,2020-02-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,United States of America
2,533,Georgia,2020-02-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,United States of America
3,533,Georgia,2020-02-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,United States of America
4,533,Georgia,2020-02-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,observed,-2.330533,NaN,NaN,NaN,NaN,NaN,NaN,102,United States of America

# Problem Statement
Create an index to catagorize the risk level of covid-19 spread in communities. This can be used to determine the risk of running out of ICU beds. Based on the paper *A COVID-19 Reopening Readiness Index: The Key to Opening up the Economy*

Reference paper: __[A COVID-19 Reopening Readiness Index: The Key to Opening up the Economy](https://www.medrxiv.org/content/10.1101/2020.05.22.20110577v2.full.pdf)__

variables:
- mortality
- hospitalizations
- testing capacity
- number of infections
- infection rate

Other papers about reopening readiness
- __[Using random testing in a feedback-control loop to manage a safe exit from the
COVID-19 lockdown](https://www.medrxiv.org/content/10.1101/2020.04.09.20059360v2.full.pdf)__